<div class="ui pointing menu">
    <div>
        <a class="active item">
            Home
        </a>
    </div>
    <div>
        <a class="item">
            Your Kalori
        </a>
    </div>
    <div>
        <a class="item">
            About
        </a>
    </div>

    <div class="right menu">
        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Search your Food">
                <i class="search link icon"></i>
            </div>
        </div>
    </div>
</div>
